@import 'node_modules/@danielkalen/sass-base/helpers'
@import 'node_modules/@danielkalen/sass-base/commonColors'
@import 'node_modules/@danielkalen/sass-base/animations'
@import 'node_modules/@danielkalen/sass-base/easings'
@import 'node_modules/@danielkalen/sass-base/normalize'
+font-face('proxima', base64Font('proximanova-regular.woff'), $type:'woff', $weight: 400)
+font-face('proxima', base64Font('proximanova-semibold.woff'), $type:'woff', $weight: 500)
+font-face('proxima', base64Font('proximanova-bold.woff'), $type:'woff', $weight: 600)
+font-face('proxima', base64Font('proximanova-extrabold.woff'), $type:'woff', $weight: 700)
+font-face('montserrat', base64Font('montserrat-regular.woff'), $type:'woff', $weight: 400)
+font-face('montserrat', base64Font('montserrat-bold.woff'), $type:'woff', $weight: 600)

$green: #6ec11c
$grey-lighter: #d1d1d1
$divider: $grey-lighter
$divider-dark: #bfbfbf


html
	background-color: #f1f1f1
	font-family: proxima